<mat-toolbar color="warn" >
  <span><a routerLink="">Posts Board</a></span>
  <span class="space"></span>
  <ul>
    <li *ngIf="isAuth">
      <a mat-button routerLink="/create" routerLinkActive="mat-primary" >New Post</a>
    </li>
    <li *ngIf="!isAuth">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-primary" >Login</a>
      </li>
      <li *ngIf="!isAuth">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-primary" >Sign Up</a>
      </li>
      <li *ngIf="isAuth">
        <button mat-button (click)="logout()">Logout</button>
      </li>
  </ul>
</mat-toolbar>
