<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="enteredTitle" name="title" #titleee="ngModel" ngModel required minlength="3" />
      <mat-error *ngIf="titleee.invalid">Please enter a post title with more than 3 letter</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" [(ngModel)]="enteredContent"  name="content" #contenttt="ngModel" ngModel required></textarea>
      <mat-error *ngIf="contenttt.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
        Save Post
      </button>
  </form>
</mat-card>
<hr />
